{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %} 
<h1 class="mb-4">Panier</h1>
<div class="container mt-5">
   
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                <tr>
                    <td>{{ item.product.nom }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn btn-primary btn-sm">+</a>
                        <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-info btn-sm">-</a>
                        <a href="{{ path('cart_delete', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3" class="text-center">Votre panier est vide</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('cart_empty') }}" class="btn btn-secondary">Vider le panier</a>
</div>
{% endblock %}
