{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Votre Panier</h1>
	<div class="container mt-5">

		<div class="table-responsive">
			<table class="table table-striped shadow">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col" class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for item in products %}
						<tr>
							<td>{{ item.product.nom }}</td>
							<td class="text-center">{{ item.quantity }}</td>
							<td class="text-center">
								<a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn btn-outline-primary btn-sm">+</a>
								<a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-outline-secondary btn-sm">-</a>
								<a href="{{ path('cart_delete', {'id': item.product.id}) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
								<a href="{{ path('cart_empty') }}" class="btn btn-outline-danger btn-sm">Vider le panier</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3" class="text-center">Votre panier est vide</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


	</div>
{% endblock %}
