{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Votre Panier</h1>

	<div class="container">
		{% if products|length > 0 %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="table">
						<tr>
							<th>Produit</th>
							<th></th>
							<th>Quantité</th>
							<th></th>
							<th>Prix</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% set totalPrice = 0 %}
						{% for item in products %}
							<tr>
								<td>
									<img src="{{ asset('images/' ~ item.product.photo) }}" alt="{{ item.product.nom }}" class="img-thumbnail" style="width: 50px;">
									{{ item.product.nom }}
								</td>
								<td class="text-center">
									<button onclick="updateCartItem('remove', {{ item.product.id }})" class="btn btn-danger btn-sm btn-panier">-</button>
								</td>
								<td class="text-center">{{ item.quantity }}</td>
								<td class="text-center">
									<button onclick="updateCartItem('add', {{ item.product.id }})" class="btn btn-danger btn-sm btn-panier">+</button>
								</td>
								{# <td class="text-center">{{ item.price / 100 }}
																									€</td> #}
								<td class="text-center">{{ item.subtotal / 100 }}
									€</td>


								<td class="text-center">
									<div onclick="deleteCartItem({{ item.product.id }})" class="text-danger">
										<i class="fas fa-trash fa-lg" aria-hidden="true"></i>
									</div>

									<div class="col-md-1 col-lg-1 col-xl-1 text-end">
										<a href="#!" class="">
											<i class=""></i>
										</a>
									</div>
								</td>
							</tr>
							{% set totalPrice = totalPrice + (item.subtotal / 100) %}
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th colspan="3">Total (ttc)</th>
							<th class="text-center">{{ totalPrice }}
								€</th>
							<th colspan="3"></th>
						</tr>

					</tfoot>
				</table>
				<tr class="">
					<button onclick="emptyCart()" class="btn btn-danger btn-lg">Vider le panier</button>
				</tr>
				<a href="{{ path('app_home') }}" class="" style="width: 100%;">Continuer mes achats</a>
			</div>

		{% else %}
			<p class="text-center">Votre panier est vide.</p>
		{% endif %}
	</div>


	<script>
		// Fonctions AJAX pour mettre à jour dynamiquement le panier
function updateCartItem(action, id) {
const url = action === 'add' ? `/cart/add/${id}` : `/cart/remove/${id}`;
fetch(url, {method: 'POST'}).then(response => response.json()).then(data => {
if (data.success) {
location.reload();
}
});
}

function deleteCartItem(id) {
fetch (`/cart/delete/${id}`, {method: 'POST'}).then(response => response.json()).then(data => {
if (data.success) {
location.reload();
}
});
}

function emptyCart() {
fetch(`/cart/empty`, {method: 'POST'}).then(response => response.json()).then(data => {
if (data.success) {
location.reload();
}
});
}
	</script>
{% endblock %}
