{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<h1>Produits</h1>

	<table class="example-wrapper table table-success table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Stock</th>
				<th>Description</th>
				<th>Photo</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td>{{ produit.id }}</td>
					<td>{{ produit.Nom }}</td>
					<td>{{ produit.Stock }}</td>
					<td>{{ produit.Description }}</td>
					<td>{{ produit.Photo }}</td>
					<td>{{ produit.Prix }}</td>
					<td>
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
						<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
