{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
<h1 class="text-center my-4">Mes Commandes</h1>

<div class="container">
    {% if commandes|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Commentaire</th>
                        <th>Utilisateur</th>
                        <th>Produits</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.id }}</td>
                            <td>{{ commande.dates ? commande.dates|date('d/m/Y') : '' }}</td>
                            <td>{{ commande.Commentaire }}</td>
                            <td>{{ commande.users ? commande.users.email : 'N/A' }}</td>
                            <td>
                                <ul>
                                    {% for ligneCommande in commande.ligneCommandes %}
                                        <li>{{ ligneCommande.produit.Nom }} - Quantité: {{ ligneCommande.Quantite }} - Prix Total: {{ ligneCommande.PrixTotal }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">Vous n'avez aucune commande pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
