{% extends 'base.html.twig' %}

{% block title %}Mugs{% endblock %}

{% block body %}
<h1>Mugs</h1>
<div class="container">
    <div class="row">
        {% for mug in mugs %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ asset('images/' ~ mug.photo) }}" alt="Mug {{ mug.couleur }}">
                <div class="card-body">
                    <p class="card-text">{{ mug.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addToCart({{ mug.id }})">Ajouter au panier</button>
                        </div>
                        <small class="text-muted">{{ mug.prix }} €</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
function addToCart(id) {
    window.location.href = '{{ path('mug_add_to_cart', {'id': 'PLACEHOLDER'}) }}'.replace('PLACEHOLDER', id);
}
</script>
{% endblock %}
