<nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
	<div
		class="container-fluid">
		<!-- Utilise container-fluid ici -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarNavDropdown">

			<ul class="navbar-nav ms-auto">

				{% if app.user %}
					<!-- Les liens suivants sont visibles uniquement pour les utilisateurs connectés -->


					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_super_admin_gestion_avancee') }}">Gestion avancées</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_super_admin_strategie') }}">Stratégie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_super_admin_commandes_globales') }}">Commandes globales</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_super_admin_maintenance') }}">Maintenance</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_super_admin_securitee_avancee') }}">Sécurité avancée</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<!-- Ces liens sont visibles uniquement pour les utilisateurs non connectés -->
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
					</li>
				{% endif %}

				<!-- Ce lien est toujours visible, tu peux choisir de le laisser ou de le retirer selon tes préférences -->
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>
