<nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
	<div class="container-fluid d-flex justify-content-between">
		

		<!-- logo navbar -->
			<div class="mx-auto logo_header"> 
			<img class="logo_header" src="/images/logo_header.jpg" alt="logo_header.jpg">
			</div>


		<button class="navbar-toggler menu-sandwich" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">

			<ul class="navbar-nav ms-auto">

				{% if app.user %}
					<!-- Les liens suivants sont visibles uniquement pour les utilisateurs connectés -->

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_mes_commandes') }}">Catalogue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_panier') }}">Panier</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
					</li>

				{% else %}
					<!-- Ces liens sont visibles uniquement pour les utilisateurs non connectés -->
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">ccConnexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
					</li>
				{% endif %}

				<!-- Ce lien est toujours visible, tu peux choisir de le laisser ou de le retirer selon tes préférences -->
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>
