{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
	<h1>Utilisateurs/Admins</h1>

	<table class="example-wrapper table table-success table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>MdP</th>
				<th>Date_Naissance</th>
				<th>Telephone</th>
				<th>Adresse</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.Nom }}</td>
					<td>{{ user.Prenom }}</td>
					<td>{{ user.MdP }}</td>
					<td>{{ user.DateNaissance ? user.DateNaissance|date('Y-m-d') : '' }}</td>
					<td>{{ user.Telephone }}</td>
					<td>{{ user.Adresse }}</td>
					<td>
						<a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_users_new') }}">Create new</a>
{% endblock %}
